@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Yellowtail&display=swap');

html {
    background-image: url(https://previews.123rf.com/images/tamara1k/tamara1k1511/tamara1k151100621/48003217-big-shoal-of-swimming-fish-illustration-on-white-background.jpg);

   
    font-family: 'Marck Script', cursive;

    font-size: 20px;
}
.head {
    outline: thick ridge rgb(194, 27, 27);
    padding: 3px;
    width: 500px;
    margin: 400px;
    margin-top: 50px;
}
table, th, td {

    padding: 7px;
    margin: 250px;
    margin-top: -250px;
    border: 5px solid rgb(107, 24, 24);
    text-align: center;
}


  footer img {
      height: 150px;
      width: 250px;
      opacity: 0.8;
      display: block;
      margin-left: auto;

      margin-right: auto;
      margin-top: -35px;   
  }
  h1 {
      text-align: center;
      margin-top: 50px;
  }
  footer p {
      text-align: center;
  
  
    }